.sidebar-left {
  height: 1000px;
  width: 200px;
  float: left;
}

.myCanvas {
  float: left;
  border: 1px solid #d3d3d3;
}
#myCanvas2 {
}

.myCanvasFreehandDraw {
  height: 200px;
  width: 202px;
  padding-top: 50px;
  padding-left: 50px;
  border: 1px solid #d3d3d3;
}

.glyphicon-pencil, .glyphicon-fullscreen, .glyphicon-trash {
  font-size: 75px;
}

.jumbotron-blue {
  color: #337AB7;
}

.color-box {
  width:20px;
  height:20px;
  float: left;
  padding-left: 5px;
}

.color-box-last {
  float: left;
}
 
#green {
  background: green;
}
#red {
  background: red;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
#orange {
  background: orange;
}
#black {
  background: black;
}
#white {
  width:60px;
  height:20px;
  border: solid 1px black;
}
.eraser {
  clear: left;
}
